

.btn-list{
  display: flex;
  align-items: center;
}

.btn-primary{
margin: 0 10px;
padding: 10px 45px;
border-radius: 12px;
background-color: $White;
color: $Gray;
font-weight: 600;
border: 0;
cursor: pointer;
transition: .3s;

&:hover{
  color: $Black;
}
}

.btn-secondary{
  border: 2px solid $Gray;
  padding: 10px 35px;
  border-radius: 12px;
  margin: 10px 0;
  background-color: $White;
  color: $Gray;
  font-weight: 600;
  cursor: pointer;
  transition: .3s,
  color .3s;

  &:hover{
    color: $Black;
    border: 2px solid $Black;
    cursor: pointer;
  }


  }
  .sub-btn{
    border: 1px solid $Black;
    padding: 12px 27px;
    border-radius: 12px;
    margin: 10px 0;
    background-color:$Black;
    color: $White;
    font-weight: 400;
    cursor: pointer;
   transition: all .3s ease;

    &:hover{
      background-color: $White;
      color: $Black;
      font-weight: bold;
      border: 1px solid $Black;
      transform: scale(1);
    }
}





/****toggle btn****/
.toggle .line1{
transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
transform: rotate(45deg) translate(-5px,-5px);
}
