$Mobile: 375px;
$Desktop: 1440px;

$paragraph: 18px;

$White: hsl(0, 0%, 98%);
$Gray: hsl(0, 0%, 41%);
$Black: hsl(0, 0%, 8%);

/*- Weights: 500, 700*/


/*<style>
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
</style>*/




*{
margin: 0;
padding: 0;
box-sizing: border-box;
}






.mobile-img{
  display: none;
}

.container-fluid{
max-width: $Desktop;
display: flex;
margin: 20px 40px 0;;
overflow: hidden;
padding: 0;
}

.desktop-img{
max-width: 40%;
}

.logo{
cursor: pointer;
font-size: 2.1rem;
font-weight: 700;
font-family: Epilogue;

}

nav.navbar{
justify-content: space-between;
align-items: center;
display: flex;
width: 100%;
}


.links{
display:flex;
list-style-type: none;
justify-content: space-between;
width: 40%;
margin-right: 25%;


.link-item{
color: $Gray;
text-decoration: none;
}

.link-item:hover{
  color: $Black;
}
}

.btn{
  margin-left: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 30px;
    transition: .4s;
}

.btn:hover{
  transform: scale(.92);
    color:$White;
  background-color: $Black;
}

.trans-btn{
  background-color: $White;
  color: $Black;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px 40px;
    transition: .4s;
}

.trans-btn:hover{
  transform: scale(.92);
  color:$White;
  background-color: $Gray;
}


.content{
  max-width: 40%;
padding: 40px 0 0;
text-align: left;

  h2{
    font-size: 70em;
    padding: 0 0 30px;
    font-weight:700;
  }

  p{
      padding: 0 0 40px;
    font-size:$paragraph;
  }
}


.sub-btn{
  color:$White;
  background-color: $Black;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 12px 20px;
    transition: .4s;
}

.sub-btn:hover{
  transform: scale(.92);
  color:$Black;
  background-color: $White;
}

.content-container{
display: flex;
justify-content: space-between;
max-width: $Desktop;
margin: 50px auto;
padding: 0 180px;
}


@media (max-width: $Desktop) {
  .content{

    h2{
font-size: 70px;
font-weight: 700;
    }

    p{
      font-size:$paragraph;
    }
  }
}


@media (max-width: 1300px) {
  .content{
    width: 70%;

    h2{
font-size: 60px;
font-weight: 700;
    }
  }
}
